<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Advanced_Blueprint_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Advanced_Blueprint_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Advanced_Blueprint_Tools.Properties.Settings>
      <setting name="steamapps" serializeAs="String">
        <value />
      </setting>
      <setting name="times" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="branch" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="safemode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wires" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="colorwires" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wirecolor" serializeAs="String">
        <value>#2C6DE6</value>
      </setting>
      <setting name="blobcolor" serializeAs="String">
        <value>#2CE6E6</value>
      </setting>
      <setting name="coloropacity" serializeAs="String">
        <value>150</value>
      </setting>
    </Advanced_Blueprint_Tools.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Advanced_Blueprint_Tools.Properties.Settings>
      <setting name="version" serializeAs="String">
        <value>100</value>
      </setting>
    </Advanced_Blueprint_Tools.Properties.Settings>
  </applicationSettings>
</configuration>